.container {
    width: 100%;
    height: 500px;
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .part-1 {
    width: 35%;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container .part-1 img {
    width: 400px;
    height: 400px;
}

.container .part-2 {
    padding-left: 2rem;
    width: 45%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container .part-2 h1 {
    margin-top: 4rem;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;
    color: #1F2E35;
}

.container .part-2 h1 span {
    color: #EE4248;
}

.container .part-2 p {
    margin-top: 1.75rem;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #30444E;
}
.container .part-2 p span{
    color: #EE4248;
}

@media(max-width:1200px){
    .container .part-2 {
        padding-left: 3rem;
        width: 45%;
    }
    .container .part-1 {
        width: 40%;
    }
    .container .part-1 img{
        height: 420px;
    }
    .container .part-2 h1 {
        font-size: 25px;
    }
    .container .part-2 p {
        font-size: 15px;
        margin-top: 1.25rem;
    }
}
  @media(max-width:1000px){
    .container {
        height: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    .container .part-1{
        height: 500px;
        display: flex;
        width: 80%;
        justify-content: center;
        align-items: center;
    }
    .container .part-1 img{
        height: 350px;
    }
    .container .part-2{
        width: 80%;
        height: 500px;
        padding: 0;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:475px){
    .container{
        height: 850px;
        justify-content: flex-start;
        align-items: center;
        display: flex;
    }
    .container .part-1{
        height: 275px;
        width: 90%;
    }
    .container .part-2{
        height: 450px;
        width: 90%;
        padding: 1rem 1.5rem;
    }
    .container .part-2 p{
        text-align: left;
    }
    .container .part-1 img {
        height: 265px;
        width: 285px;
    }
}
